  <div class="head flex">
    <div class="head_chatName">
      <div class="avatar_pic"><img class="user_avatar" src="{{userAvatar}}" alt="Аватар"> </div>
      <div>
        <h3 class="name descrip">{{chatName}}</h3>
      </div>
    </div>

    <div class="chat_settings"> <img class="" src="../../../static/icon/add_delated.svg" alt="Настройки чата"></div>
  </div>
