---
id: "root" 
---
<html>
    <head>
        {{!-- <script src="./src/index.js" type="module"></script> --}}
    </head>
    <body>
        <div id="{{ id }}">
            <div>
                {{> auto}}
            </div>
            {{!-- <div>
                {{> main_chat}}
            </div> --}}
            <div>
                {{> select_chat}}
            </div>
            {{!-- <div>
                {{> user_settings}}
            </div>
            <div>
                {{> reg}}
            </div>
            <div>
                {{> error_404}}
            </div>
            <div>
                {{> error_500}}
            </div>
                --}}
        </div>
    </body>
</html>