---
id: "root"
---

<html>

<head>
    <link rel="stylesheet" href="./src/main.scss">
</head>

<body>
    <div id="{{id}}">
        <a href="src/pages/sign_in/sign_in.hbs">sign in</a>
        <a href="src/pages/sign_up/sign_up.hbs">sign up</a>
        <a href="src/pages/profile/profile.hbs">profile</a>
        <a href="src/pages/error/error_404.hbs">404</a>
        <a href="src/pages/error/error_500.hbs">500</a>
        <a href="src/pages/chat/chat.hbs">chat</a>
    </div>
</body>

</html>
