<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chat messenger</title>
  <link rel="stylesheet" href="../../main.css">
</head>

<body>
  <div class="chat flex">
    <div class="left_box flex">
      <div class="profile_settings">
        {{{linkToProfile}}}
        <img class="polygon" src="../../../static/icon/Polygon 1.svg">
      </div>
      <div class="search">
        <form action="" method="post">
          {{{inputSearch}}}
        </form>
      </div> <!-- Поиск -->
      <div class="chat_list">
        <ul class="chat_block">
          {{{chatItem}}}
        </ul>

      </div>
    </div>



    <div class="right_box_chat">
      <p>Выберите чат чтобы отправить сообщение</p>

    </div>
  </div>
</body>

</html>
