<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chat messenger</title>
  <link rel="stylesheet" href="../../main.css">
</head>

<body>
  <div class="card">
    <div class="card__title">

      <form action="/">
        <div>
          <div class="avatar">
            <img class="user_avat" src="../../../static/img/ivan.jpg" alt="аватар">
          </div>
          <p class="profile_name">Профиль</p>
          <div class="profile_form">
            <span>Имя в чате</span>
            <span class="right_box disabled_text">avas</span>
          </div>
          <div class="profile_form">
            <span>Почта</span>
            <span class="right_box disabled_text">avas@yoo.com</span>
          </div>
          <div class="profile_form">
            <span>Логин</span>
            <span class="right_box disabled_text">spark_avas</span>
          </div>
          <div class="profile_form">
            <span>Имя</span>
            <span class="right_box disabled_text">Альберт</span>
          </div>

          <div class="profile_form">
            <span>Фамилия</span>
            <span class="right_box disabled_text">Васельков</span>
          </div>
          <div class="profile_form">
            <span>Телефон</span>
            <span class="right_box disabled_text">+79931234567</span>
          </div>
        </div>
        <div class="bottom_link">
          <div>
            {{{change_data}}}
          </div>
          <div>
            {{{change_password}}}
          </div>
          <div>
            {{{out}}}
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
