// @use "../../main.scss" as *;

.return {
  margin: 0;
  padding: 0;
  min-width: 64px;
  min-height: 100vh;
  background-color: #F2F2F2;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E0DFDF;

}
.return_img {
 font-size:20px;

}

.profile_form {
  border-bottom: 2px solid #B1B1B1;
  padding: 5px;
  max-width: 50%;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: $size-main-text;
  font-family: $main-font;
  font-weight: 600;
  line-height: 150%;
  color: $main-text-color;

}

.profile_name {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: $main-text-color;
}

.avatar {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.user_avat {
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

.right_box {
  float: right;
}

.disabled_text {
  color: #808080;
  font-weight: 500;

}

.bottom_link {
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: $main-font;
  font-size: $size-main-text;
  font-weight: 500;
  line-height: 150%;
}
.out {
  color: $error-color;
  margin-top: 10px;
}
.pass {
  margin-top: 10px;
}

.color_link {
  color: $main-blue-color;
}

.btn_save {
  max-width: 280px;
  margin: auto;
  margin-top: 20px;
}

input[type="file"] {
  display: none;
}

#imageName{
  color:green;
}
