// @use "../../main.scss" as *;
@import '../../components/button/button';

.flex {
  display: flex;
}

.reg {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
  text-align: center;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 600;
  color: $main-text-color;

}

body {
  font-family: $main-font;
  font-size: 10px;
  background-color: $white-color;
}

* {
  box-sizing: border-box;
}

.form {
  max-width: 340px;
  max-height: auto;
  padding: 50px 22px 22px 35px;
  margin: 20px auto;
  background-color: $white-color;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.input_reg {
  display: block;
  width: 100%;
  padding: 8px 8px 7px 0px;
  margin-bottom: 16px;

  border: 0;
  border-bottom: 1px solid #B1B1B1;
  // outline: 1px solid #B1B1B1;

}

.descr {
  font-family: $main-font;
  font-size: 10px;
  color: #808080;

}


.enter {
  text-align: center;

}

a {
  text-decoration: none;
}

.enter_link {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: $size-light-text;
  line-height: 150%;
  text-decoration: none;
  color: $main-blue-color;
}
