<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat messenger</title>
    <link rel="stylesheet" href="../sign_up/sign_up.scss">
  </head>

<body class="flex">
  
  <form class="form" action="" method="post">
    <h1 class="reg">Вход</h1>
    <label class="descr"> Логин <input class="input_reg" type="text"></label>
    <label class="descr">Пароль <input class="input_reg" type="password"></label>
    
    <div class="btn_reg">
        <button class="btn" type="submit">Авторизоваться</button>
      </div>
    <div class="enter">
      <a href=""> <span class="enter_link"> Нет аккаунта?</span></a>
    </div>
  </form>
  

</body>
</html>


