<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat messenger</title>
    <link rel="stylesheet" href="./src/page/registration/reg_stile"
  </head>

<body class="flex">
  
  <form class="form" action="" method="post">
    <h1 class="reg">Регистрация</h1>
    <label class="descr"> Почта <input class="input" type="email">
    </label>
    <label class="descr"> Логин <input class="input" type="text">
    </label>
    <label class="descr"> Имя <input class="input" type="text">
    </label> 
    <label class="descr"> Фамилия <input class="input" type="text"></label>
    <label class="descr"> Телефон <input class="input" type="tel"></label>
    <label class="descr">Пароль <input class="input" type="password"></label>
    <label class="descr">Пароль (ещё раз)<input class="input" type="password"></label>
    
    <div class="btn_reg">
      <button class="btn" type="submit">Зарегистрироваться</button>
    </div>
    <div class="enter">
      <a href=""> <span class="enter_link"> Войти</span></a>
    </div>
  </form>
  

</body>
</html>

  