$main-font: 'Roboto', sans-serif;
$size-main-text: 14px;
$size-small-text: 9px;
$size-light-text: 12px;
$main-text-color: #2E2E2E;
$main-blue-color: #2E64EE;
$white-color: #fff;
$light-line-color: #EAEAEA;
$error-color: #EC3F3F;

.error {
  color: $error-color;
}

.disabled_input{
  pointer-events: none;
  border: 0;
  text-align: right;
}

@import './pages/chat/chat';
@import './pages/error/error';
@import './pages/profile/profile';
@import './pages/sign_up/sign_up';
