<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chat messenger</title>
  <link rel="stylesheet" href="./error.scss">
</head>

<body>
  <div class="box_center">
    <div>
      <h1 class="name_error fonts">404</h1>
      <p class="text_error fonts">Страница не найдена</p>
    </div>
    <div>
      {{{link_back}}}

    </div>
  </div>

</body>

</html>
